@import "variables"

.site-header
  +maximilius-widthimus
  margin: 0 auto
  padding-top: 24px
  padding-bottom: 80px
  
  display: flex
  justify-content: space-between

  font-weight: 600

  a
    margin-right: 20px
    color: #1f2228

    &.active
      color: #949494
    &:last-of-type
      margin-right: 0