@import "variables"

$image-width: 340px
$row-width: $image-width * 3
$remainder: $default-page-width - $row-width
$margin: $remainder / 2

.boxies
  font-size: 0

  +screen-mobile
    text-align: center

  &__box
    display: inline-block
    vertical-align: top
    position: relative
    overflow: hidden
    cursor: pointer
    margin-bottom: $margin
    transition: transform .2s
    
    img
      max-width: 100%
      height: auto

    &:hover, &:focus      
      .boxies__box__textietext
        opacity: 1
    
    +screen-mobile
      max-width: 100%

    +screen-desktop
      width: $image-width
      margin-right: $margin

      &:nth-child(3n)
        margin-right: 0

    &__textietext
      text-align: center
      position: absolute
      left: 0
      right: 0
      bottom: 0
      font-size: 16px
      padding: 10px
      color: white
      line-height: 1.3
      background-color: rgba(0,0,0,0.4)


      @media (pointer:fine)
        display: flex
        justify-content: center
        align-items: center
        transition: opacity .3s
        opacity: 0
        top: 0
        letter-spacing: 0.5px
        font-size: 18px
        font-weight: 600
        background-color: rgba(0,0,0,0.8)

      @media (pointer:course)
        bottom: 0 !important
